<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mitsweb Backend</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-red-300">
    <div
      class="w-full mb-5 py-3 mt-10 items-center text-center text-5xl font-bold text-white"
    >
      <div class="m-0 grid grid-cols-2 text-center m-auto">
        <div class="text-right mr-2">MITSWEB</div>
        <div class="text-left ml-2">
          <img src="logo.png " class="h-16 w-16" alt="logo" />
        </div>
      </div>
      <div class="text-center w-full mt-2">
        <div
          class="bg-red-600 shadow-lg rounded-lg m-0 m-auto text-center w-3/4 md:2-1/2 lg:w-1/2 px-2 py-2"
        >
          <p class="text-xl">
            Go to Mits Web website -
            <a href="http://mitsweb.netlify.app" class="text-blue-400"
              >click here</a
            >
          </p>
          <p class="text-xl">
            Go to API Documenation -
            <a href="/api" class="text-blue-400">click here</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
